

.primary{color: #0088ce;}
.accent{color: rgb(35, 207, 35);}
.accent-bg{background-color: sandybrown}
.navbar{color:red;}

.primary-bg{background-color: lightgoldenrodyellow}

.color-primary-bg{color: blue;
}

.color-primary-dark{color: darkblue;
}

.color-primary-light{color: lightblue;
}

.color-packground-main{background-color: indianred;
}

.color-packground-main{background-color: indianred;
}

.navbar{ background-color: blue;
    color: white;
    height: 100px;
    border: solid 1px black;
    border-radius: 10px;
}

.footer{
    color: lightskyblue;
    height: 30px;
}

.size-50px{
    height: 50px;
    width: 50px;
    margin: 5px;  
    border: solid 1px black;
}
.size-150px{
    height: 150px;
    width: 150px;   
    border: solid 1px black;
}
.margin-25{
    margin: 25px;
}
.sucsess{
    color: green;
}
.warning{
    color: yellow;
}
.danger{color: red;
}
.info{color: magenta;}