.primary{color: #0088ce;}
.accent{color: rgb(35, 207, 35);}
.accent-bg{background-color: sandybrown}
.navbar{color:red;}

.primary-bg{background-color: lightgoldenrodyellow}



sucsess
warning
danger
info
